@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  /* Catálogo de fuentes “reales” */
  --font-open-sans: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-roboto: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  --font-montserrat: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  --font-dancing: 'Dancing Script', 'Helvetica Neue', Arial, sans-serif;
  --font-fira-code: 'Fira Code', monospace;
  --font-source-code-pro: 'Source Code Pro', sans-serif;
  --font-material-symbols: 'Material Symbols Outlined', sans-serif;

  /* Variables semánticas que referencian al catálogo anterior */
  --font-main: var(--font-open-sans);
  --font-heading: var(--font-open-sans);
  --font-body: var(--font-open-sans);
  --font-caption: var(--font-montserrat);
  --font-accent: var(--font-dancing);
  --font-code: var(--font-fira-code);

  /* Colors ebf */
  /* Marca */
  --brand-color-1: #004B87;
  --brand-color-2: #0EA5E9;
  --brand-color-3: #F59E0B;


  /* Escala Primary (Basada en Verde #80bc00) */
  --color-primary-950: color-mix(in srgb, var(--brand-color-1) 10%, black 90%);
  --color-primary-900: color-mix(in srgb, var(--brand-color-1) 30%, black 80%);
  --color-primary-800: color-mix(in srgb, var(--brand-color-1) 40%, black 60%);
  --color-primary-700: color-mix(in srgb, var(--brand-color-1) 60%, black 40%);
  --color-primary-600: color-mix(in srgb, var(--brand-color-1) 80%, black 20%);
  --color-primary-500: var(--brand-color-1);
  --color-primary: var(--brand-color-1);
  --color-primary-400: color-mix(in srgb, var(--brand-color-1) 80%, white 20%);
  --color-primary-300: color-mix(in srgb, var(--brand-color-1) 60%, white 40%);
  --color-primary-200: color-mix(in srgb, var(--brand-color-1) 40%, white 60%);
  --color-primary-100: color-mix(in srgb, var(--brand-color-1) 20%, white 80%);
  --color-primary-50: color-mix(in srgb, var(--brand-color-1) 10%, white 90%);

  /* Escala Secondary (Basada en Azul #0f298f) */
  --color-secondary-950: color-mix(in srgb, var(--brand-color-2) 10%, black 90%);
  --color-secondary-900: color-mix(in srgb, var(--brand-color-2) 20%, black 80%);
  --color-secondary-800: color-mix(in srgb, var(--brand-color-2) 40%, black 60%);
  --color-secondary-700: color-mix(in srgb, var(--brand-color-2) 60%, black 40%);
  --color-secondary-600: color-mix(in srgb, var(--brand-color-2) 80%, black 20%);
  --color-secondary-500: var(--brand-color-2);
  --color-secondary: var(--brand-color-2);
  --color-secondary-400: color-mix(in srgb, var(--brand-color-2) 80%, white 20%);
  --color-secondary-300: color-mix(in srgb, var(--brand-color-2) 60%, white 40%);
  --color-secondary-200: color-mix(in srgb, var(--brand-color-2) 40%, white 60%);
  --color-secondary-100: color-mix(in srgb, var(--brand-color-2) 20%, white 80%);
  --color-secondary-50: color-mix(in srgb, var(--brand-color-2) 10%, white 90%);

  /* Escala Accent (Basada en Amarillo #fde234) */
  --color-accent-950: color-mix(in srgb, var(--brand-color-3) 10%, black 90%);
  --color-accent-900: color-mix(in srgb, var(--brand-color-3) 20%, black 80%);
  --color-accent-800: color-mix(in srgb, var(--brand-color-3) 40%, black 60%);
  --color-accent-700: color-mix(in srgb, var(--brand-color-3) 60%, black 40%);
  --color-accent-600: color-mix(in srgb, var(--brand-color-3) 80%, black 20%);
  --color-accent-500: var(--brand-color-3);
  --color-accent: var(--brand-color-3);
  --color-accent-400: color-mix(in srgb, var(--brand-color-3) 80%, white 20%);
  --color-accent-300: color-mix(in srgb, var(--brand-color-3) 60%, white 40%);
  --color-accent-200: color-mix(in srgb, var(--brand-color-3) 40%, white 60%);
  --color-accent-100: color-mix(in srgb, var(--brand-color-3) 20%, white 80%);
  --color-accent-50: color-mix(in srgb, var(--brand-color-3) 10%, white 90%);

  /* UI & Shadows */
  --tw-shadow-color: rgba(0, 0, 0, 0.4);
  --footer-background: oklch(0.29 0 0);
  --header-background: oklch(98.5% 0.002 247.839);

  /* Gradients */
  --color-gradient-get-2025: linear-gradient(45deg, #009ADE, #FF5100, #DB4569);

  /* Breakpoints */
  --breakpoint-2xs: 20rem;

  /* Container */
  --container-8xl: 96rem;

  /* Colors Error */
  --color-error: #e1523b;
  --color-error-border: #e1523b;
  --color-error-background: #fecaca;
}

@layer base {
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .text-accent {
    color: var(--color-accent);
  }
}
